.content-portfolio {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: lazy 1s linear;
  min-height: 100%;}


@keyframes lazy {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.cover-portfolio {
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.8rem 0;
  margin: 0 auto;
}

.title-portfolio {
  width: 1250px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to top, #ffd29a, #f7931a, #d28324);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

.title-portfolio {
  font-family:StretchPro ;
  font-size: clamp(34px, 6vw, 96px);
}

.description-portfolio {
  color: #ffe5c4;
  font-size: clamp(22px, 2vw, 26px);
  text-align: center;
  font-family: CreatoDisplayMedium;
}

.show-portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-portfolio {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  position: sticky;
  height: 60px;
  margin-bottom: 1rem;
}

.header-portfolio ul {
  backdrop-filter: blur(15px) brightness(.66);
  border-radius: 12px 12px 0 0;
  width: 800px;
  max-width: 100%;
  display: flex;
  height: 55px;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  font-family: CreatoDisplayBold;
  font-weight: 600;
  color: #ffe5c4;
}

.header-portfolio ul li {
  cursor: pointer;
  transform: translateY(10px);
  padding: 1rem .5rem ;
  width: 80px;
  max-width: 100%;
  text-align: center;
  border-radius:  20px 20px 0 0;
  height: 80px;
  transition: all 0.5s ease-out;
}

.header-portfolio ul li:hover {
  cursor: pointer;
  color: #f7931a;
  transition: all 0.5s ease-out;
}

.seleccionado {
  position: relative;
  color: #f7931a; 
  background: #333333;
  height: 90px; ;
  z-index: -1;
  font-weight: bold;
}

.portfolios {
  width: 1450px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: space-around;
}

.projectfolio{
  width: 300px;
  margin: 10px;
  height: 280px;
  max-width: 100%;
  cursor: pointer;
}


.img-project{
width: 300px;
display: flex;
}

.img-proj{
  width:300px;
  aspect-ratio: 1/1;
  max-height: 220px;
transition: all .5s ease-in-out;
margin: 10px 0;
  border-radius: 12px;
  background-color: rgb(135, 138, 139);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}



.projectfolio:hover .img-proj{
  transform: scale(1.01);
}
.info-projectfolio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-projectfolio{
  font-weight: 600;
transition: all .5s ease-in-out;
font-family: CreatoDisplayBold;
  color: #ffe5c4;
}

.projectfolio:hover .name-projectfolio{
  color: #d28324;
  }
      
.type-projectfolio{
  font-family: CreatoDisplayMedium;
transition: all .5s ease-in-out;
color: #ffe5c4a4;
opacity: 0.8;
text-transform: capitalize;
}


.projectfolio:hover .type-projectfolio{
  color: #ffe5c4;

  }