.content-app {
  width: 100%;
  display: block;
  justify-content: center;
}

.header {
  width: 100%;
    align-items: center;
    height: 118px;
  max-width: 100%;
}

.active-header {
  backdrop-filter: blur(3px) brightness(0.95);
}


.cover{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: center;
}

.aboutus{
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.wemake,.ourwork,.calendary,.ourprocess{
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}


.testimonials{
  width: 100%;
  background: #F7931A;
  display: flex;
  justify-content: center;
}

.footer{
  width: 100%;
  height: 12vw;
  max-height: 190px;
display: flex;
border-top:1px solid #FFD29A;
justify-content: center;
padding-top: 1rem;

}