.content-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-rendermenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}