.content-about {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: center;
}

.title-about {
  padding-top: 3rem;
  text-align: center;
  margin: 0 auto;
  width: 1250px;
  max-width: 100%;
  background: linear-gradient(to top, #ffd29a, #f7931a, #d28324);
  -webkit-background-clip: text;
  color: transparent;
}

.title-about h3 {
  font-style: bold;
  font-weight: 900;
  font-family: "Stretch Pro", sans-serif;
  font-size: clamp(34px, 3vw, 64px);
}

.renders-abouts {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
}

.render-content-abouts {
  width: 900px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 4rem auto;
}

.render-number-abouts {
  width: 120px;
  border-radius: 100%;
  background: #f7931a;
  height:120px;
  max-height: 150px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-about1 {
  background-image: url("../../../public/numbers-abouts/abt1.png");
}

.img-about2 {
  background-image: url("../../../public/numbers-abouts/abt2.png");
}
.img-about3 {
  background-image: url("../../../public/numbers-abouts/abt3.png");
}

.img-about1,
.img-about2,
.img-about3 {
  width:90px;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 90px;
}

.render-title-abouts {
  width: 650px;
  text-align: center;
margin: 0 auto;
  font-family: montserrat;
  max-width: 100%;
  color: #ffe5c4;
  text-align: center;
  font-size: clamp(22px, 2vw, 40px);
  margin-top: 10px;
}

.render-title-abouts h4{
margin: 0 auto;
text-align: center;
}

.render-text-abouts {
  font-family: poppins;
  color: #ffe5c4;
  width: 950px;
  max-width: 100%;
  padding:.5rem 1rem;
  margin: 0 auto;
  text-align: center;
}
