.calendary-content{
    width:1250px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
}


.calendary-title{
font-size: clamp(34px,5vw,64px);
    font-family: montserrat;
    text-align: center;
    background: linear-gradient(to top, #ffd29a, #f7931a, #d28324);
    -webkit-background-clip: text;
    color: transparent;
}


.calendary-text{
    width: 900px;
    max-width: 100%;
    padding: .5rem;
    margin: 0 auto;
    text-align: center;
    color: #ffd29a;
font-size: clamp(18px,3vw,24px);

}

.calendary-text p{

    margin: 15px auto;
}