
.cover{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .aboutus{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  
  .ourwork{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;

  }
.calendary,.ourprocess{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .wemake{
    width: 100%;
    display: flex;
    min-height: 80vh;
    align-items: center;
    margin-bottom: 5vw;
    justify-content: center;
  }
  
  
  .testimonials{
    width: 100%;
    background: #F7931A;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }