.content-outwork {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.title-outwork {
  margin: 0 auto;
  width: 480px;
  max-width: 100%;
  background: linear-gradient(to top, #ffd29a, #f7931a, #d28324);
  -webkit-background-clip: text;
  color: transparent;
  font-size: clamp(26px,8vw,74px);
  text-align: center;
  margin-top: 5rem ;
  margin-bottom: 2rem;
}


.flexbox-ourwork{
  width: 1200px;
  max-width: 100%;
  margin: 40px 0;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;  
  align-items: center;
}




.image1-ourwork{
  width: 550px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 40px;
aspect-ratio: 1/1;
max-width:100%;
  background-image: url('../../../public/bgworks/image.png');
}




.image2-ourwork{
  width: 550px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:800%;
aspect-ratio: 1/1;
  background-image: url('../../../public/bgworks/image2.png');
}


.descriptions-ourwork{
  width: 550px;
  max-width: 100%;
  color: #FFE5C4;
  padding: .5rem;
  text-align:left;
}





.title-description-ourwork{
  font-size: clamp(18px,3vw,34px);
}


.text-description-ourwork{
  font-size: clamp(12px,1.5vw,34px);
padding: 1rem 0 ;
}


